*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
*.gem
.bundle
.kitchen/
.kitchen.local.yml
vendor/bundle
**/vendor/bundle
omnibus/pkg/*
.vagrant
bin/*
files/**/cache/
vendor/cookbooks
Berksfile.lock
Gemfile.lock
**/Gemfile.lock
